@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div id="container" class="svg-container">
    </div>
</div>
<script src="https://d3js.org/d3.v5.min.js"></script>
<script src="~/js/force-directed.js"></script>
